#timeline {
  height: 10vh;
  overflow-x: auto;
  white-space: nowrap;
}

#timeline li{
  display: inline-block;
  margin-left: 20px
}

.scroll-arrow {
    position: fixed;
    color: #477C51;
    border-radius: 4px;
    border-left: 20px solid #477C51;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation: indicate 3.5s linear infinite;
}

#map {
  width: 47vw;
  height: 500px;
}

.marker {
  width: 12px;
  height: 12px;
  background-color: black;
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.marker-active {
  background-color: yellow;
}

@keyframes indicate {
      0% { right: 15% }
    100% { right: 0%; opacity: 0 }
}
